<GridLayout class="page" rows="auto, *">
    <Label row="0" marginTop="10" color="black" textAlignment="left" margin="15" fontSize="36" class="heading" [text]="showGames? currentCategory : 'Category'"></Label>
    <RadListView *ngIf="!showGames" row="1" [items]="categories" margin="10">
        <ListViewGridLayout tkListViewLayout scrollDirection="Vertical"
                            height="100" spanCount="2">
        </ListViewGridLayout>
        <ng-template tkListItemTemplate let-item="item">
                <FlexboxLayout [backgroundImage]="item.image" flexDirection="column" justifyContent="flex-end" borderRadius="10" height="100" margin="5" (tap)="loadGames(item.name)">
<!--                    <Image #image src="{{ item.image }}" stretch="aspectFill"></Image>-->
                            <Label backgroundColor="#ff8100" borderRadius="10" fontSize="24" color="white" textAlignment="center" [text]="item.name" class="itemName"></Label>
                </FlexboxLayout>
        </ng-template>
    </RadListView>
    <ns-game-list *ngIf="showGames" row="1" [games]="games"></ns-game-list>
    <FlexboxLayout justifyContent="center" height="100%" width="100%" *ngIf="isLoading">
        <ActivityIndicator row="0" col="0" [busy]="isLoading" color="#ff8100" width="40" height="40"></ActivityIndicator>
    </FlexboxLayout>
</GridLayout>
