/* Add mobile styles for the component here.  */
.page {
  background-color: white;
}
.itemName {
  text-align: center;
  color: #33393d;
  font-family: 'Open Sans', 'OpenSans-Bold';
  font-weight: bold;
  font-size: 18;
}
