<GridLayout class="page" rows="auto, *">
    <Label row="0" marginTop="20" color="black" textAlignment="left" margin="15" fontSize="36" class="heading" text="Categories"></Label>
    <RadListView row="1" [items]="categories" margin="10">
        <ListViewGridLayout tkListViewLayout scrollDirection="Vertical"
                            height="200" spanCount="1">
        </ListViewGridLayout>
        <ng-template tkListItemTemplate let-item="item">
                <GridLayout height="50" backgroundColor="gray" margin="5" (tap)="loadGames(item)">
<!--                    <FlexboxLayout *ngIf="image.isLoaded" justifyContent="center" height="100%" width="100%">-->
<!--                        <ActivityIndicator row="0" col="0" busy="true" color="#127abe" width="40" height="40"></ActivityIndicator>-->
<!--                    </FlexboxLayout>-->
<!--                    <Image #image src="{{ item.image }}" stretch="aspectFill"></Image>-->
                            <Label text="{{ item.name }}" class="itemName"></Label>
<!--                    <GridLayout verticalAlignment="bottom">-->
<!--                        <StackLayout paddingTop="8" backgroundColor="rgb(127,255,167)"-->
<!--                                     paddingBottom="8" paddingLeft="16" paddingRight="16">-->
<!--                        </StackLayout>-->
<!--                    </GridLayout>-->
                </GridLayout>
        </ng-template>
    </RadListView>

    <FlexboxLayout justifyContent="center" height="100%" width="100%" *ngIf="isLoading">
        <ActivityIndicator row="0" col="0" [busy]="isLoading" color="#127abe" width="40" height="40"></ActivityIndicator>
    </FlexboxLayout>
</GridLayout>
