/* Add mobile styles for the component here.  */
.itemName {
  text-align: center;
  color: #33393d;
  font-family: 'Open Sans', 'OpenSans-Bold';
  font-weight: bold;
  font-size: 18;
}

.itemDesc {
  color: #ffffff;
  font-family: 'Open Sans', 'OpenSans-Regular';
  font-size: 12;
}
