<RadListView [items]="games" margin="10">
    <ListViewGridLayout tkListViewLayout scrollDirection="Vertical"
                        height="50" spanCount="3">
    </ListViewGridLayout>
    <ng-template tkListItemTemplate let-item="item">
        <GridLayout borderRadius="10" backgroundColor="White">
            <GridLayout borderRadius="10" backgroundColor="#ffc87a" margin="5" (tap)="showModal(item)" height="100">
<!--                                        <Image *ngIf="image.isLoaded" stretch="aspectFit" src="~/assets/images/CONSOLE.png" loadMode="async"></Image>-->
<!--                                        <Image #image borderRadius="10" [src]="item.image620" stretch="aspectFill" loadMode="async"></Image>-->
                <NSImage #image stretch="aspectFill" radius="20" [src]="item.image620" placeholder="~/assets/images/CONSOLE.png" placeholderStretch="aspectFill" loadMode="async">
                </NSImage>
                <GridLayout verticalAlignment="bottom">
                    <StackLayout paddingTop="8" backgroundColor="rgba(248,248,248,0.76)"
                                 paddingBottom="8" paddingLeft="16" paddingRight="16">
                        <Label color="#000000" [text]="item.title" class="itemName"></Label>
<!--                        <Label [text]="item.description"-->
<!--                               class="itemDesc"></Label>-->
                    </StackLayout>
                </GridLayout>
            </GridLayout>
        </GridLayout>
    </ng-template>
</RadListView>
