     <RadListView *ngIf="!isLoading && games.length" backgroundColor="White" [items]="games" marginLeft="10" marginRight="10">
         <ListViewGridLayout tkListViewLayout scrollDirection="Vertical"
                             height="200" spanCount="2">
         </ListViewGridLayout>
         <ng-template tkListItemTemplate let-item="item">
             <GridLayout borderRadius="10" backgroundColor="White">
                 <GridLayout borderRadius="10" backgroundColor="#ffc87a" margin="5" (tap)="showModal(item)" height="200">
<!--                                             <Image *ngIf="image.isLoaded" stretch="aspectFit" src="~/assets/images/CONSOLE.png" loadMode="async"></Image>-->
<!--                                             <Image #image borderRadius="10" [src]="item.image620" stretch="aspectFill" loadMode="async"></Image>-->
                     <NSImage #image stretch="aspectFit" radius="20" [src]="item.img" placeholder="~/assets/images/CONSOLE.png" placeholderStretch="aspectFit" loadMode="async">
                     </NSImage>
                     <GridLayout verticalAlignment="bottom">
                         <StackLayout paddingTop="8" backgroundColor="rgba(248,248,248,0.76)"
                                      paddingBottom="8" paddingLeft="16" paddingRight="16">
                             <Label color="#000000" [text]="item.name" class="itemName"></Label>
                             <!--                        <Label [text]="item.description"-->
                             <!--                               class="itemDesc"></Label>-->
                         </StackLayout>
                     </GridLayout>
                 </GridLayout>
             </GridLayout>
         </ng-template>
         <ng-template tkListViewHeader>
             <GridLayout rows="auto, auto, *" backgroundColor="White">
                <FlexboxLayout row="0" flexDirection="column">
                    <Label marginTop="10" color="black" textAlignment="left" margin="15" marginLeft="0" fontSize="36" class="heading" text="DISCOVER"></Label>
                    <Label marginTop="7" class="sub-headings" text="WHAT'S NEW TODAY"></Label>
                </FlexboxLayout>
                 <RadListView row="1" [items]="trendingGames" marginLeft="0">
                     <ListViewGridLayout tkListViewLayout scrollDirection="Horizontal"
                                         height="200" spanCount="1">
                     </ListViewGridLayout>
                     <ng-template tkListItemTemplate let-item="item">
                         <StackLayout orientation="horizontal">
                             <GridLayout borderRadius="10" rows="auto, *"
                                         marginLeft="7" marginRight="7" (tap)="showModal(item)">
<!--                                                      <Image borderRadius="10" backgroundColor="#ffc87a" row="0" height="200" width="370" *ngIf="img.isLoaded" stretch="aspectFit" src="~/assets/images/CONSOLE.png" loadMode="async"></Image>-->
<!--                                                      <Image #img borderRadius="10" row="0" [src]="item.teaserBig"-->
<!--                                                             height="200" width="370" stretch="aspectFill" loadMode="async"></Image>-->
                                 <NSImage #img row="0" height="200" width="340" stretch="aspectFit" radius="20" [src]="item.img" placeholder="~/assets/images/CONSOLE.png" placeholderStretch="aspectFit" loadMode="async">
                                 </NSImage>
                                 <Label row="1" class="mini-titles"
                                        [text]="item.name"></Label>
                             </GridLayout>
                         </StackLayout>
                     </ng-template>
                 </RadListView>
                <Label row="2" class="sub-headings" paddingTop="5" marginBottom="0" text="BROWSE ALL" backgroundColor="white"></Label>
             </GridLayout>
         </ng-template>
     </RadListView>

     <ns-error *ngIf="!isLoading && !games.length" [placeholder]="'Error loading games'"></ns-error>

    <FlexboxLayout flexDirection="column" backgroundColor="white" justifyContent="center" height="100%" width="100%" *ngIf="isLoading">
        <Image src="~/assets/images/ICON.png" width="150" height="150"></Image>
        <ActivityIndicator row="0" col="0" [busy]="isLoading" color="#ff8100" width="40" height="40"></ActivityIndicator>
    </FlexboxLayout>
