 <GridLayout *ngIf="!isLoading" tkExampleTitle tkToggleNavButton rows="auto, auto, auto, *" backgroundColor="White">
     <FlexboxLayout row="0" flexDirection="column">
        <Label marginTop="20" color="black" textAlignment="left" margin="15" fontSize="36" class="heading" text="DISCOVER"></Label>
        <Label marginTop="15" class="sub-headings" text="WHAT'S NEW TODAY"></Label>
     </FlexboxLayout>
     <RadListView row="1" [items]="gamesNew">
         <ListViewGridLayout tkListViewLayout scrollDirection="Horizontal"
                             height="200" spanCount="1">
         </ListViewGridLayout>
         <ng-template tkListItemTemplate let-item="item">
             <StackLayout orientation="horizontal">
                 <GridLayout borderRadius="10" rows="auto, *"
                             marginLeft="15" (tap)="playGame(item)">
                     <Image borderRadius="10" backgroundColor="#ffc87a" row="0" height="200" width="370" *ngIf="img.isLoaded" stretch="aspectFit" src="~/assets/images/CONSOLE.png" loadMode="async"></Image>
                     <Image #img borderRadius="10" row="0" [src]="item.teaserBig"
                            height="200" width="370" stretch="aspectFill" loadMode="async"></Image>
                     <Label row="1" class="mini-titles"
                            [text]="item.title"></Label>
                 </GridLayout>
             </StackLayout>
         </ng-template>
     </RadListView>
        <Label row="2" class="sub-headings" paddingTop="5" marginBottom="0" text="BROWSE ALL" backgroundColor="white"></Label>
        <RadListView row="3" [items]="games" margin="10">
            <ListViewGridLayout tkListViewLayout scrollDirection="Vertical"
                                height="200" spanCount="2">
            </ListViewGridLayout>
            <ng-template tkListItemTemplate let-item="item">
                <GridLayout borderRadius="10" backgroundColor="White">
                    <GridLayout borderRadius="10" backgroundColor="#ffc87a" margin="5" (tap)="playGame(item)" height="180">
                        <Image *ngIf="image.isLoaded" stretch="aspectFit" src="~/assets/images/CONSOLE.png" loadMode="async"></Image>
                        <Image #image borderRadius="10" [src]="item.image620" stretch="aspectFill" loadMode="async"></Image>
                        <GridLayout verticalAlignment="bottom">
                            <StackLayout borderRadius="10" paddingTop="8" backgroundColor="rgba(193, 255, 148, 0.71)"
                                         paddingBottom="8" paddingLeft="16" paddingRight="16">
                                <Label [text]="item.title" class="itemName"></Label>
                                <Label [text]="item.description"
                                       class="itemDesc"></Label>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>
            </ng-template>
        </RadListView>
    </GridLayout>

    <FlexboxLayout backgroundColor="white" justifyContent="center" height="100%" width="100%" *ngIf="isLoading">
        <ActivityIndicator row="0" col="0" [busy]="isLoading" color="#127abe" width="40" height="40"></ActivityIndicator>
    </FlexboxLayout>
