/* Add mobile styles for the component here.  */
ActionBar,
TabStrip
{
  background-color: #ffffff;
  color: #040404;
}

TabStripItem {
  color: #b3bcbb;
}

TabStripItem:active {
  color: #000000;
}

TabStripItem Label {
  font-size: 12;
}

TabStripItem Image {
  font-size: 36;
}

TabContentItem {
  background-color: lightgray;
}
