<RadSideDrawer #rsd drawerTransition="PushTransition" (loaded)="drawerLoaded($event)">
        <GridLayout tkDrawerContent>
                <StackLayout backgroundColor="#ff7200">
                        <ListView id="list-view" [items]="sideDrawerOptions" (itemTap)="sideDrawerOptionTap($event)"
                                  separatorColor="transparent" height="100%" backgroundColor="#ff7200">
                                <ng-template let-option="item">
                                        <Label color="white" [text]="option" padding="20" class="drawer-item"></Label>
                                </ng-template>
                        </ListView>
                </StackLayout>
        </GridLayout>
<GridLayout tkMainContent>
<!--<Page loaded="pageLoaded" class="page">-->
        <ActionBar title="Gluster">
                <ActionItem android.position="actionBar" text="SD" *ngIf="true" (tap)="onOpenDrawerTap()"></ActionItem>
                <ActionItem ios.systemIcon="res://ic_menu" *ngIf="isIOS()" ios.position="right" (tap)="onOpenDrawerTap()"></ActionItem>
        </ActionBar>
        <BottomNavigation>
                <TabStrip>
                        <TabStripItem>
                                <Image src="font://&#xf015;" class="fas"></Image>
                                <Label text="Home"></Label>
                        </TabStripItem>
                        <TabStripItem>
                                <Image src="font://&#xf002;" class="fas"></Image>
                                <Label text="Search"></Label>
                        </TabStripItem>
                        <TabStripItem>
                                <Image src="font://&#xf24d;" class="fas"></Image>
                                <Label text="Categories"></Label>
                        </TabStripItem>
                        <TabStripItem>
                                <Image src="font://&#xf005;" class="fas"></Image>
                                <Label text="Favourites"></Label>
                        </TabStripItem>
                </TabStrip>

                <TabContentItem>
                        <ns-games></ns-games>
                </TabContentItem>

                <TabContentItem>
                        <ns-search></ns-search>
                </TabContentItem>

                <TabContentItem>
                        <ns-category></ns-category>
                </TabContentItem>

                <TabContentItem>
                        <ns-favourites></ns-favourites>
                </TabContentItem>

        </BottomNavigation>
<!--</Page>-->
</GridLayout>

</RadSideDrawer>
