<Page loaded="pageLoaded" class="page">

        <ActionBar title="Home">
        </ActionBar>

        <BottomNavigation>
                <TabStrip>
                        <TabStripItem>
                                <Image src="font://&#xf015;" class="fas"></Image>
                                <Label text="Home"></Label>
                        </TabStripItem>
                        <TabStripItem>
                                <Image src="font://&#xf1ea;" class="fas"></Image>
                                <Label text="News"></Label>
                        </TabStripItem>
                        <TabStripItem>
                                <Image src="font://&#xf11b;" class="fas"></Image>
                                <Label text="Games"></Label>
                        </TabStripItem>
                </TabStrip>

                <TabContentItem>
                        <StackLayout>
                                <Label text="Facebook" (tap)="openApp('facebook')" class="h1 text-center p-t-20"></Label>
                                <Label text="Instagram" (tap)="openApp('instagram')" class="h1 text-center p-t-20"></Label>
                                <Label text="Whatsapp" (tap)="openApp('whatsapp')" class="h1 text-center p-t-20"></Label>
                                <Label text="Snapchat" (tap)="openApp('snapchat')" class="h1 text-center p-t-20"></Label>
                        </StackLayout>
                </TabContentItem>

                <TabContentItem>
                                <ns-news></ns-news>
                </TabContentItem>

                <TabContentItem>
                                <ns-games></ns-games>
                </TabContentItem>

        </BottomNavigation>
</Page>
