<GridLayout>
<!--<Page loaded="pageLoaded" class="page">-->

        <ActionBar title="Home">
        </ActionBar>

        <BottomNavigation>
                <TabStrip>
                        <TabStripItem>
                                <Image src="font://&#xf015;" class="fas"></Image>
                                <Label text="Home"></Label>
                        </TabStripItem>
                        <TabStripItem>
                                <Image src="font://&#xf002;" class="fas"></Image>
                                <Label text="Search"></Label>
                        </TabStripItem>
                        <TabStripItem>
                                <Image src="font://&#xf24d;" class="fas"></Image>
                                <Label text="Categories"></Label>
                        </TabStripItem>
                        <TabStripItem>
                                <Image src="font://&#xf005;" class="fas"></Image>
                                <Label text="Favourites"></Label>
                        </TabStripItem>
                </TabStrip>

                <TabContentItem>
                        <ns-games></ns-games>
                </TabContentItem>

                <TabContentItem>
                        <ns-news></ns-news>
                </TabContentItem>

                <TabContentItem>

                </TabContentItem>

                <TabContentItem>

                </TabContentItem>

        </BottomNavigation>
<!--</Page>-->
</GridLayout>
